:root {
	--primary: #fffffffa;
	--secondary: #f5f5f7;
	--tertiary: #202124;
	--primary-text: #fffffffa;
	--link: #4065b8;
	--link-hover: #4064b8c7;
	--text-selection: #617cbcaa;
	--feedback-red: #ff000048;
	--feedback-green: #00800048;
}

.dark {
	--primary: #202124;
	--secondary: #323437c7;
	--tertiary: #fffffffa;
	/* Icons */
	--nodejs-icon: url("../images/technologies/nodejs-icon-white.svg");
	--express-icon: url("../images/technologies/express-icon-white.svg");
	--mongodb-icon: url("../images/technologies/mongodb-icon-white.svg");
	--github-icon: url("../images/contacts/github-icon-white.svg");
	--linkedin-icon: url("../images/contacts/linkedin-icon-white.svg");
	--email-icon: url("../images/contacts/email-icon-white.svg");
}

.active {
	color: var(--link-hover);
}
